body {
	font-size: 20px;
  background: url(img/img.png) no-repeat -10px 50px;
  background-size: 900px;
}

.navbar-default{
	background: transparent;
}

.navbar {
	height: 80px;
	background: transparent;
	border: none;
}

.nav>li>a {
	padding: 20px;
}

.navbar-brand {
	float: left;
	margin: 0 0 0 12px;
	margin-left: 20px !important;
  margin-top: 10px !important; 
	font: 0/0 serif; 
	text-shadow: none; 
	color: transparent; 
	width:122px;
	height:170px;
	background:url(Aqua-header-logo.png)no-repeat;padding: 14px 0;
  background-size: 100%;
}

// .parallax-background {
//   background-color: #e74c3c;
//   height: 620px;
//   background-repeat: no-repeat;
//   -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//   background-size: cover;
//   position: fixed;
//   width: 100%;
//   z-index: -1;
// }

// .parallax-content {
//   max-width: 100%;
//   position: relative;
//   top: 400px;
//   /*padding: 50px;*/
//   /*font-size: 20px;*/
//   /*background-color: #fff;*/
// }

.wrapper {
  margin-top: 50px;
	width: 100%;
  height: 900px;
}

.jumbotron{
	float: left;
	margin-left: 7%;
	margin right: 7%;
	width: 600px;
	padding: 10px;
}

form {
	float: right;
  margin-right: 130px;
  margin-top: 80px;
  max-width: 500px;
  height: 500px;
  background: #D6EFFF;
  padding: 30px 30px 20px 30px;
  box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
  -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #666;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
form h1 {
  font: 24px Helvetica, sans-serif;
  padding: 0px 0px 10px 0;
  display: block;
  border-bottom: 1px solid #F5F5F5;
  margin: -10px -30px 10px -30px;
  color: #3333CC;
  text-align: center;
}

form table {
  display: block;
  margin: 50px 0px 5px;
}

form td {
width: 100%;
}

form input[type="text"], form input[type="email"], form textarea{
  color: #555;
  width: 90%;
  padding: 3px 0px 3px 5px;
  margin-top: 2px;
  margin-bottom: 16px;
  margin-left: 20px;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  height: 33px;
  line-height:15px;
  outline: 0;
  -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
  box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}
form textarea{
  height:100px;
  padding: 5px 0px 0px 5px;
}
form input[type="submit"]  {
  -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
  box-shadow:inset 0px 1px 0px 0px #fbafe3;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d) );
  background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
  background-color:#ff5bb0;
  border-radius:9px;
  -webkit-border-radius:9px;
  -moz-border-border-radius:9px;
  border:1px solid #ee1eb5;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height: 40px;
  line-height: 30px;
  width: 90%;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #c70067;
  margin-left: 20px;
}
form input[type="submit"]:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0) );
  background:-moz-linear-gradient( center top, #ef027d 5%, #ff5bb0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0');
  background-color:#ef027d;
}
form input[type="submit"]:active {
  position:relative;
  top:1px;
}

.panel {
  float: right;
  width: 400px;
  height: 100px;
  background-color: #D6EFFF;
  border: 1px solid #ADEBFF !important;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  font: Helvetica;
  color: #3333CC;
  margin-right: 150px;
  margin-top: 15%;
}

.section {
  background-color: #F0F6FF;
  padding: 50px;
}

.section h1 {
  font: 70px 'Baskerville', sans-serif;
  text-align: center;
  padding-bottom: 50px;
  color:#3333CC;
}


.thumbnail {
  max-width: 400px;
  text-align: center;
  border: none;
  margin-left: 70px;
  background-color: #F0F6FF;
  color: #3333CC;
}

.thumbnail img {
  width: 300px;
  height: 300px;
  align-content: center;
}

.thumbnail h3 {
  color: #3333CC;
}

.thumbnail p {
  color: #3333CC;
}

.footer {
	background: url(natural-skincare.jpg) no-repeat;
  background-size: 100% 99%;
	color: white;
	padding: 50px;
}

.footer .wrapper {
  margin-top: 0;
  height: 700px;
}

.footer ul {
  list-style: none;
  float: right;
}

.footer ul li {
  display: inline-block;
}

.twitter{
  width: 68px;
  height: 68px;
}

.facebook {
  width: 60px;
  height: 60px;
}

 .instagram{
  width: 59px;
  height: 59px;
}


